

// Process Parameters:

// Process Parameters for Count:
params.Count.cell_ranger_count_parameters =  ""  //* @input @description:"Specify optional parameters here."
params.Count.expected_cells =  3000  //* @input @description:"Expected number of recovered cells. Default: 3000 cells."
params.Count.chemistry =  "auto"  //* @dropdown @options:"auto","threeprime","fiveprime","SC3Pv1","SC3Pv2","SC3Pv3","SC5P-PE","SC5P-R2" @description:"Assay configuration. You should only specify chemistry if there is an error in automatic detection. Select one of: auto for autodetection (default),threeprime for Single Cell 3′,fiveprime for Single Cell 5′,SC3Pv1 for Single Cell 3′ v1,SC3Pv2 for Single Cell 3′ v2,SC3Pv3 for Single Cell 3′ v3,SC5P-PE for Single Cell 5′ paired-end (both R1 and R2 are used for alignment),SC5P-R2 for Single Cell 5′ R2-only (where only R2 is used for alignment)."

// Process Parameters for Aggr:
params.Aggr.aggregate_run_id =  "aggr_libraries"  //* @input @description:"A unique run ID string: e.g. AGG123"
params.Aggr.normalizeDepth =  "mapped"  //* @dropdown @options:"mapped","none" @description:"Specify how to normalize depth across the input libraries.Valid values: mapped (default), or none"

// Pipeline Config:
$HOSTNAME='default'
